@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Hem";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta />
    <link rel="stylesheet" href="~/css/cssforwebshop.css" />
   </head>
<body>
    <section>
        <div class="circle">
            <header>
                <a href="#"><img src="~/Images/" class="logo"</a>
                <ul class="navigation">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
            </header>
        </div>
        <div class="content">
            <div class="textBox">
                <h2>Taste The Feeling!</h2>
                <p>lorem Ipsum</p>
                <a href="#">Learn More</a>
            </div>
        </div>
</section>
</body>
</html>
