@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Hem";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/cssforwebshop.css" />
</head>
<body>
    <!--Latest Products-->
    <div class="offer">
        <div class="small-container">
            <h2 class="title">Senaste Produkter</h2>
            <div class="row">
                <div class="col-4">
                    <img src="~/Images/18c0b372a063955ca6d28e77ab9f09a0.jpg" height="200" width="400" alt="">
                    <h4>Två flerfärgade <br /> Led remsor</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h4>175kr</h4>
                    <div class="shop-item-details">
                        <a href="~/SenastePro.cshtml" class="btn btn-primary shop-item-button">Visa Produkt</a>

                    </div>
                </div>
                <div class="col-4">
                    <img src="~/Images/HTB1ighuayDxK1RjSsph762HrpXaM.png" height="200" width="400" alt="">
                    <h4>XXL flerfärgade <br />LED remsa</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h4>200kr</h4>
                    <div class="shop-item-details">
                        <a href="~/SenastePro.cshtml" class="btn btn-primary shop-item-button">Visa Produkt</a>
                    </div>
                </div>
                <div class="col-4">
                    <img src="~/Images/nedladdning.jpg" height="200" width="400" alt="">
                    <h4>1-Pack Enfärgad <br />LED remsa</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h4>150kr</h4>
                    <div class="shop-item-details">
                        <a href="~/SenastePro.cshtml" class="btn btn-primary shop-item-button">Visa Produkt</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Latest Products Ends-->
    <!--Certificate Begins-->
    <div class="small-container">
        <h2 class="titlar">Varför oss?</h2>

        <div class="row">
            <div class="col-2">
                <img src="~/Images/Gabriel Adward.png" height="300" width="400" alt="523">


            </div>
            <div class="col-2">
                <img src="~/Images/3.jpg" height="300" width="400" alt="523">
            </div>

            <div class="col-2">
                <img src="~/Images/98.jpg" height="300" width="400" alt="523">
            </div>
        </div>
    </div>
    <!--Certificate Ends-->
    <!--Three Review Begins-->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <p>
                        Mycket trevliga och hjälpsamma personal men man måste vänta på sin tur.
                        Stor och rolig butik.
                    </p>
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="~/Images/user-1.png" alt="111">
                    <h3>Åsa Levander</h3>
                </div>
                <div class="col-3">
                    <p>
                        Hittade en vara mycket billigare hos en konkurrent. Påtalar detta till säljaren som prismatchar utan några problem.
                        <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <img src="~/Images/user-2.png" alt="111">
                        <h3>Sam Svensson</h3>
                </div>
                <div class="col-3">
                    <p>
                        Fantastisk personal, säljare o hela vägen igenom butiken och även kassa personalen!!
                    </p>
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="~/Images/user-3.png" alt="12">
                    <h3>Amanda Lindstam</h3>
                </div>
            </div>
        </div>
    </div>
    <!--Three Review Ends-->
    <!--Footer Begins-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>
                        Ladda ner vår app!

                    </h3>
                    <p>Nu finns vår app tillgänglig på både Android och IOS.</p>
                    <div class="app-logo">
                        <img src="~/Images/play-store.png" alt="play-store">
                        <img src="~/Images/app-store.png" alt="app-store">
                    </div>
                </div>
                <div class="footer-col-2">

                    <p>Vårt syfte är att göra det möjligt för studenter att dekorera om sina rum för att få en bättre arbetsmiljö för att klara av sina studier.</p>
                </div>
                <div class="footer-col-3">
                    <h3>
                        Länkar
                    </h3>
                    <ul class="färgor">
                        <li><a href="~/hem.cshtml">Hem</a></li>
                        <li> <a href="~/produkt.cshtml">Produkter</a></li>
                        <li><a href="~/kontakt.cshtml">Kontakta Oss</a></li>
                        <li><a href="~/Login.cshtml">Logga In</a></li>
                        <li><a href="~/omoss.cshtml">Om Oss</a></li>
                    </ul>

                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href="https://www.tiktok.com/404?fromUrl=/viralleds.com?lang=en">Tiktok</a></li>
                        <li><a href="https://www.facebook.com/shopvirallights/">Facebook </a></li>
                        <li><a href="https://twitter.com/ViralLights">Twitter</a></li>
                        <li><a href="https://www.instagram.com/viralleds/?hl=en">Instagram</a></li>
                        <li><a href="https://www.youtube.com/channel/UCggQYM093m0wP9D3t23h2PQ">Youtube</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 | Gabriel Adward</p>
        </div>
    </div>
    <!--Footer Ends-->

</body>
</html>
              
