@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Hem";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta />
    <link rel="stylesheet" href="~/cssforwebshop.css" />

</head>
<body>
    Ändra lite
</body>
</>
