@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Hem";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="hero">
        <div class="texture"></div>
        <video loop
               muted
               autoplay
               preload="auto" id="myVideo">
            <source src="~/Videos/videoplayback.mp4" type="video/mp4">
        </video>
        <div class="caption">

            <h1>Welcome to my website</h1>
            <h2>This is a subtitle</h2>

        </div>

    </div>
    <!---->
    <div class="offer">
        <div class="small-container">
            <div class="row">

                <div class="col-2">
                    <h1 class="sektion1">Varför oss?</h1>
                    <p class="sektion1">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!---->

    <div class="small-container">
        <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="~/Images/306RGBstrip.png" alt="">
                <h4>LedLight</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p>500kr</p>
            </div>
            <div class="col-4">
                <img src="~/Images/306RGBstrip.png" alt="">
                <h4>LedLight</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p>500kr</p>
            </div>
            <div class="col-4">
                <img src="~/Images/306RGBstrip.png" alt="">
                <h4>LedLight</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p>500kr</p>
            </div>
        </div>
    </div>


    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Mycket trevliga och hjälpsamma personal men man måste vänta på sin tur.
                        Stor och rolig butik för det fanns mycket att titta på. Mycket bra utbud!
                    </p>
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="~/Images/user-1.png" alt>
                    <h3>Åsa Levander</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Hittade en vara mycket billigare hos en konkurrent. Påtalar detta till säljaren som prismatchar utan några problem.
                        <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <img src="~/Images/user-2.png" alt>
                        <h3>Sam Svensson</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Fantastisk personal, säljare o hela vägen igenom butiken och även kassa personalen!! Alltid nöjd efter ett besök här!
                    </p>
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="~/Images/user-3.png" alt>
                    <h3>Amanda Lindstam</h3>
                </div>
            </div>
        </div>
    </div>
    <!--Footer Börjar-->
    <footer class="footer footer-dark bg-dark">
        <div class="container bottom_border">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Kontakta Oss</h5>
                    <p class="mb10">Har du några övriga frågor om Erik Dahlbergsgymnasiet kan du kontakta oss genom: </p>
                    <p><i class="fa fa-phone"></i> 0743637438 </p>
                    <p><i class="fa fa fa-envelope"></i> ErikDahlberg@jonkoping.se </p>
                </div>


                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Snabba Länkar</h5>
                    <ul class="footer_ul_amrc">
                        <li><a href="https://edgymnasiet.se/">Hem</a></li>
                        <li><a href="https://edgymnasiet.se/program.html">Program</a></li>
                        <li><a href="https://edgymnasiet.se/om-skolan.html">Om Skolan</a></li>
                        <li><a href="https://edgymnasiet.se/kontakta-oss.html">Kontakta Oss</a></li>
                        <li><a href="https://edgymnasiet.se/for-dig-pa-ed.html">För Dig På Ed</a></li>
                    </ul>
                </div>


                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Andra Program</h5>
                    <ul class="footer_ul_amrc">
                        <li><a href="https://edgymnasiet.se/program/ekonomi.html">Ekonomi</a></li>
                        <li><a href="https://edgymnasiet.se/program/naturvetenskap.html">Narurvetenskap</a></li>
                        <li><a href="https://edgymnasiet.se/program/samhallsvetenskap.html">Samhällsvetenskap</a></li>
                        <li><a href="https://edgymnasiet.se/program/teknik.html">Teknik</a></li>
                        <li><a href="https://edgymnasiet.se/program/vvs--och-fastighet.html">VVS- och fastighet</a></li>
                        <li><a href="https://edgymnasiet.se/program/vard--och-omsorg.html">Vård- och omsorg</a></li>
                        <li>
                            <a href="https://edgymnasiet.se/program/yrkes--och-sprakintroduktion.html">
                                Yrkes- och
                                språkintroduktion
                            </a>
                        </li>
                    </ul>
                </div>


                <div class=" col-sm-4 col-md  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Våra Sociala Medier</h5>
                    <p><i class=" fa fa-facebook-official "></i> Erik Dahlbergsgymnasiet</p>
                    <p><i class="fa fa-twitter-square"></i> edgymnasiet</p>
                    <p><i class="fa fa-instagram"> </i> erik_dahlbergsgymnasiet</p>
                </div>
            </div>
        </div>

        <p class="text-center" style="margin-left: 60px;">Copyright 2021 | Gabriel Adward</p>
        <div class="container">
            <ul class="social_footer_ul">
                <li><a href="https://sv-se.facebook.com/edgymnasiet/"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/edgymnasiet"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/erik_dahlbergsgymnasiet/"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
