@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Kontakta Oss";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta />
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
</head>
<body>

    <section id="contact" class="content-section text-center">
        <div class="contact-section">
            <div class="container">
                <h2>Contact Us</h2>
                <p>Feel free to shout us by feeling the contact form or visiting our social network sites like Fackebook,Whatsapp,Twitter.</p>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="exampleInputName2">Name</label>
                                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                            </div>
                            <div class="form-group ">
                                <label for="exampleInputText">Your Message</label>
                                <textarea class="form-control" placeholder="Description"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Send Message</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Footer Börjar-->
    <footer class="footer footer-dark bg-dark">
        <div class="container bottom_border">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Kontakta Oss</h5>
                    <p class="mb10">Har du några övriga frågor om Erik Dahlbergsgymnasiet kan du kontakta oss genom: </p>
                    <p><i class="fa fa-phone"></i> 0743637438 </p>
                    <p><i class="fa fa fa-envelope"></i> ErikDahlberg@jonkoping.se </p>
                </div>


                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Snabba Länkar</h5>
                    <ul class="footer_ul_amrc">
                        <li><a href="https://edgymnasiet.se/">Hem</a></li>
                        <li><a href="https://edgymnasiet.se/program.html">Program</a></li>
                        <li><a href="https://edgymnasiet.se/om-skolan.html">Om Skolan</a></li>
                        <li><a href="https://edgymnasiet.se/kontakta-oss.html">Kontakta Oss</a></li>
                        <li><a href="https://edgymnasiet.se/for-dig-pa-ed.html">För Dig På Ed</a></li>
                    </ul>
                </div>


                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Andra Program</h5>
                    <ul class="footer_ul_amrc">
                        <li><a href="https://edgymnasiet.se/program/ekonomi.html">Ekonomi</a></li>
                        <li><a href="https://edgymnasiet.se/program/naturvetenskap.html">Narurvetenskap</a></li>
                        <li><a href="https://edgymnasiet.se/program/samhallsvetenskap.html">Samhällsvetenskap</a></li>
                        <li><a href="https://edgymnasiet.se/program/teknik.html">Teknik</a></li>
                        <li><a href="https://edgymnasiet.se/program/vvs--och-fastighet.html">VVS- och fastighet</a></li>
                        <li><a href="https://edgymnasiet.se/program/vard--och-omsorg.html">Vård- och omsorg</a></li>
                        <li>
                            <a href="https://edgymnasiet.se/program/yrkes--och-sprakintroduktion.html">
                                Yrkes- och
                                språkintroduktion
                            </a>
                        </li>
                    </ul>
                </div>


                <div class=" col-sm-4 col-md  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Våra Sociala Medier</h5>
                    <p><i class=" fa fa-facebook-official "></i> Erik Dahlbergsgymnasiet</p>
                    <p><i class="fa fa-twitter-square"></i> edgymnasiet</p>
                    <p><i class="fa fa-instagram"> </i> erik_dahlbergsgymnasiet</p>
                </div>
            </div>
        </div>

        <p class="text-center" style="margin-left: 60px;">Copyright 2021 | Gabriel Adward</p>
        <div class="container">
            <ul class="social_footer_ul">
                <li><a href="https://sv-se.facebook.com/edgymnasiet/"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/edgymnasiet"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/erik_dahlbergsgymnasiet/"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
