@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Kontakta Oss";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta />
    <link rel="stylesheet" href="~/cssforwebshop.css" />
</head>
<body>

</body>
</html>
