@{
    Layout = "~/Shared/_LayoutS.cshtml";
    Page.Title = "Kontakta Oss";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <!--About Us Begins-->
    <div class="about-section paddingTB60 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="about-title clearfix">
                        <h1>Om <span>LED LIGHTs</span></h1>
                        <h3>Vilka ligger bakom LED LIGHTs?</h3>
                        <p class="about-paddingB">Gabriel Adward:<br />Jag heter Gabriel Adward och är senior på Kentucky Country Day i Louisville, Kentucky. Mina favoritämnen är matematik och datavetenskap, jag är medlem i tennisteamet och är också volontärlärare. Jag är stolt över att få de bästa materialen för att skapa och sälja virala lysdioder och moln. </p>
                        <p>Carlos Azizsson: <br />Hej! Jag heter Simon Azizsson och jag är en stigande senior vid Kentucky Country Day School. Hela mitt liv har jag spelat fotboll och nyligen hjälpte jag till att starta den första squash-ligan i Kentucky. Jag gillar alla typer av vetenskap och älskar att arbeta med lysdioder. Jag lägger upp tekniska videor tillsammans med annat roligt innehåll på Tik tok och har fått miljontals visningar. Jag kan inte tacka alla nog för det stöd de har gett mig och virala lysdioder.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--About Us Ends-->
    <!--Footer Begins-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>
                        Ladda ner vår app!

                    </h3>
                    <p>Nu finns vår app tillgänglig på både Android och IOS.</p>
                    <div class="app-logo">
                        <img src="~/Images/play-store.png" alt="play-store">
                        <img src="~/Images/app-store.png" alt="app-store">
                    </div>
                </div>
                <div class="footer-col-2">

                    <p class="syfte">Vårt syfte är att göra det möjligt för studenter att dekorera om sina rum för att få en bättre arbetsmiljö för att klara av sina studier.</p>
                </div>
                <div class="footer-col-3">
                    <h3>
                        Länkar
                    </h3>
                    <ul class="färgor">
                        <li><a href="~/hem.cshtml">Hem</a></li>
                        <li> <a href="~/produkt.cshtml">Produkter</a></li>
                        <li><a href="~/kontakt.cshtml">Kontakta Oss</a></li>
                        <li><a href="~/Login.cshtml">Logga In</a></li>
                        <li><a href="~/omoss.cshtml">Om Oss</a></li>
                    </ul>

                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href="https://www.tiktok.com/404?fromUrl=/viralleds.com?lang=en">Tiktok</a></li>
                        <li><a href="https://www.facebook.com/shopvirallights/">Facebook </a></li>
                        <li><a href="https://twitter.com/ViralLights">Twitter</a></li>
                        <li><a href="https://www.instagram.com/viralleds/?hl=en">Instagram</a></li>
                        <li><a href="https://www.youtube.com/channel/UCggQYM093m0wP9D3t23h2PQ">Youtube</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 | Gabriel Adward</p>
        </div>
    </div>
    <!--Footer Ends-->
</body>
</html>
