@{
    Layout = "~/Shared/_LayoutP.cshtml";
    Page.Title = "Kontakta Oss";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


    <div class="about-section paddingTB60 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="about-title clearfix">
                        <h1>About <span>Appmom</span></h1>
                        <h3>Lorem ipsum dolor sit amet </h3>
                        <p class="about-paddingB">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet dolor libero, eget venenatis mauris finibus dictum. Vestibulum quis elit eget neque porttitor congue non sit amet dolor. Proin pretium purus a lorem ornare </p>
                        <p>sed lobortis pulvinar. Integer laoreet mi id eros porta euismod. Suspendisse potenti. Nulla eros mauris, convallis et sem tempus, viverra hendrerit sapien</p>
                        <div class="about-icons">
                            <ul>
                                <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                                <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                                <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                                <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <div class="about-img">
                        <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Börjar-->
    <!--Footer Börjar-->
    <footer class="footer footer-dark bg-dark">
        <div class="containerna bottom_border">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Kontakta Oss</h5>
                    <p class="mb10">Har du några övriga frågor om Erik Dahlbergsgymnasiet kan du kontakta oss genom: </p>
                    <p><i class="fa fa-phone"></i> 0743637438 </p>
                    <p><i class="fa fa fa-envelope"></i> ErikDahlberg@jonkoping.se </p>
                </div>


                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Snabba Länkar</h5>
                    <ul class="footer_ul_amrc">
                        <li><a href="https://edgymnasiet.se/">Hem</a></li>
                        <li><a href="https://edgymnasiet.se/program.html">Program</a></li>
                        <li><a href="https://edgymnasiet.se/om-skolan.html">Om Skolan</a></li>
                        <li><a href="https://edgymnasiet.se/kontakta-oss.html">Kontakta Oss</a></li>
                        <li><a href="https://edgymnasiet.se/for-dig-pa-ed.html">För Dig På Ed</a></li>
                    </ul>
                </div>


                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Andra Program</h5>
                    <ul class="footer_ul_amrc">
                        <li><a href="https://edgymnasiet.se/program/ekonomi.html">Ekonomi</a></li>
                        <li><a href="https://edgymnasiet.se/program/naturvetenskap.html">Narurvetenskap</a></li>
                        <li><a href="https://edgymnasiet.se/program/samhallsvetenskap.html">Samhällsvetenskap</a></li>
                        <li><a href="https://edgymnasiet.se/program/teknik.html">Teknik</a></li>
                        <li><a href="https://edgymnasiet.se/program/vvs--och-fastighet.html">VVS- och fastighet</a></li>
                        <li><a href="https://edgymnasiet.se/program/vard--och-omsorg.html">Vård- och omsorg</a></li>
                        <li>
                            <a href="https://edgymnasiet.se/program/yrkes--och-sprakintroduktion.html">
                                Yrkes- och
                                språkintroduktion
                            </a>
                        </li>
                    </ul>
                </div>


                <div class=" col-sm-4 col-md  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Våra Sociala Medier</h5>
                    <p><i class=" fa fa-facebook-official "></i> Erik Dahlbergsgymnasiet</p>
                    <p><i class="fa fa-twitter-square"></i> </p>
                    <p><i class="fa fa-instagram"> </i> erik_dahlbergsgymnasiet</p>
                </div>
            </div>
        </div>

        <p class="text-center" style="margin-left: 60px;">Copyright 2021 | Gabriel Adward</p>
        <div class="container">
            <ul class="social_footer_ul">
                <li><a href="https://sv-se.facebook.com/edgymnasiet/"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/edgymnasiet"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/erik_dahlbergsgymnasiet/"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
