@{
    Layout = "~/Shared/_LayoutP.cshtml";
    Page.Title = "Produkter";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta />
    <link rel="stylesheet" href="~/css/produkter.css" />
</head>
<body>
    <section class="container content-section">
        <h2 class="section-header">Enfärgade</h2>
        <div class="shop-items">
            <div class="card">
                <img class="shop-item-image" src="~/Images/RGB-LED-Strip-Lights-5050-AC220V-AC110V-50m-100m-Multicolor-Flexible-Roll-IP65-Outdoor-Waterproof-RGB-Multicolor-LED-Light-Strips.jpg" alt="">
                <p class="shop-item-price">10000 kr</p>
                <p class="shop-item-title">Iphone 12</p>
                <div class="shop-item-details">
                    <button class="btn btn-primary shop-item-button" type="button">LÄGG TILL I KUNDVAGN!</button>
                </div>
            </div>
            <div class="card">
                <img class="shop-item-image" src="~/Images/RGB-LED-Strip-Lights-5050-AC220V-AC110V-50m-100m-Multicolor-Flexible-Roll-IP65-Outdoor-Waterproof-RGB-Multicolor-LED-Light-Strips.jpg" alt="">
                <p class="shop-item-price"> 12500 kr</p>
                <p class="shop-item-title">Ipad Pro</p>
                <div class="shop-item-details">
                    <button class="btn btn-primary shop-item-button" type="button">LÄGG TILL I KUNDVAGN!</button>
                </div>
            </div>
            <div class="card">
                <img class="shop-item-image" src="~/Images/RGB-LED-Strip-Lights-5050-AC220V-AC110V-50m-100m-Multicolor-Flexible-Roll-IP65-Outdoor-Waterproof-RGB-Multicolor-LED-Light-Strips.jpg" alt="">
                <p class="shop-item-price">7000 kr</p>
                <p class="shop-item-title">Iphone X</p>
                <div class="shop-item-details">
                    <button class="btn btn-primary shop-item-button" type="button">LÄGG TILL I KUNDVAGN!</button>
                </div>
            </div>
        </div>
    
        <div class="card">
            <img class="shop-item-image" src="~/Images/RGB-LED-Strip-Lights-5050-AC220V-AC110V-50m-100m-Multicolor-Flexible-Roll-IP65-Outdoor-Waterproof-RGB-Multicolor-LED-Light-Strips.jpg" alt="">
            <p class="shop-item-price"> 5000 kr</p>
            <p class="shop-item-title">Apple Watch Series 6</p>
            <div class="shop-item-details">
                <button class="btn btn-primary shop-item-button" type="button">LÄGG TILL I KUNDVAGN!</button>
            </div>
        </div>
            <div class="card">
                <img class="shop-item-image" src="~/Images/RGB-LED-Strip-Lights-5050-AC220V-AC110V-50m-100m-Multicolor-Flexible-Roll-IP65-Outdoor-Waterproof-RGB-Multicolor-LED-Light-Strips.jpg" alt="">
                <p class="shop-item-price">2000 kr</p>
                <p class="shop-item-title">Apple Tv</p>
                <div class="shop-item-details">
                    <button class="btn btn-primary shop-item-button" type="button">LÄGG TILL I KUNDVAGN!</button>
                </div>
            </div>
            <div class="card">
                <img class="shop-item-image" src="~/Images/RGB-LED-Strip-Lights-5050-AC220V-AC110V-50m-100m-Multicolor-Flexible-Roll-IP65-Outdoor-Waterproof-RGB-Multicolor-LED-Light-Strips.jpg" alt="">
                <p class="shop-item-price">1500 kr</p>
                <p class="shop-item-title">Airpods</p>
                <div class="shop-item-details">
                    <button class="btn btn-primary shop-item-button" type="button">LÄGG TILL I KUNDVAGN!</button>
                </div>
            </div>
    </section>
</body>
</html>
