@{
    Layout = "~/Shared/_LayoutP.cshtml";
    Page.Title = "Produkter";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/produkter.css" />
    <script src="~/JavaScript/JavaScript.js"></script>
</head>
<body>
    <section class="container content-section">
        <h2 class="section-header">Enfärgade</h2>
        <div class="shop-items">
            <div class="card">
                <img class="shop-item-image" src="~/Images/18c0b372a063955ca6d28e77ab9f09a0.jpg" alt="">
                <br/>
                <h4 class="shop-item-title">1-Pack Enfärgad <br />LED remsa</h4>   
                <h4 class="shop-item-price">175 kr</h4>
                <div class="shop-item-details">
                    <button class="btn btn-primary shop-item-button" type="button">LÄGG TILL I KUNDVAGN!</button>
                </div>
            </div>
            <div class="card">
                <img class="shop-item-image" src="~/Images/HTB1ighuayDxK1RjSsph762HrpXaM.png" alt="">
                <br/>
                <h4 class="shop-item-title">XXL flerfärgade <br />LED remsa</h4> 
                <h4 class="shop-item-price"> 200 kr</h4>
                
                <div class="shop-item-details">
                    <button class="btn btn-primary shop-item-button" type="button">LÄGG TILL I KUNDVAGN!</button>
                </div>
            </div>
            <div class="card">
                <img class="shop-item-image" src="~/Images/nedladdning.jpg" alt="">
                <br/>
                <h4 class="shop-item-title">1-Pack Enfärgad <br />LED remsa</h4>
                <h4 class="shop-item-price">150 kr</h4>
                <div class="shop-item-details">
                    <button class="btn btn-primary shop-item-button" type="button">LÄGG TILL I KUNDVAGN!</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Kod för min kundvagn -->
    <section class="container content-section">
        <h2 class="section-header">KUNDVAGN</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">VARA</span>
            <span class="cart-price cart-header cart-column">PRIS</span>
            <span class="cart-quantity cart-header cart-column">ANTAL</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">TOTALPRIS</strong>
            <span class="cart-total-price">0 kr</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">KÖP</button>
    </section>
    <!--Footer Börjar-->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>
                        Ladda ner vår app!

                    </h3>
                    <p>Nu finns vår app tillgänglig på både Android och IOS.</p>
                    <div class="app-logo">
                        <img src="~/Images/play-store.png" alt="play-store">
                        <img src="~/Images/app-store.png" alt="app-store">
                    </div>
                </div>
                <div class="footer-col-2">

                    <p>Vårt syfte är att göra det möjligt för studenter att dekorera om sina rum för att få en bättre arbetsmiljö för att klara av sina studier.</p>
                </div>
                <div class="footer-col-3">
                    <h3>
                        Länkar
                    </h3>
                    <ul class="färgor">
                        <li><a href="~/hem.cshtml">Hem</a></li>
                        <li> <a href="~/produkt.cshtml">Produkter</a></li>
                        <li><a href="~/kontakt.cshtml">Kontakta Oss</a></li>
                        <li><a href="~/Login.cshtml">Logga In</a></li>
                        <li><a href="~/omoss.cshtml">Om Oss</a></li>
                    </ul>

                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href="https://www.tiktok.com/404?fromUrl=/viralleds.com?lang=en">Tiktok</a></li>
                        <li><a href="https://www.facebook.com/shopvirallights/">Facebook </a></li>
                        <li><a href="https://twitter.com/ViralLights">Twitter</a></li>
                        <li><a href="https://www.instagram.com/viralleds/?hl=en">Instagram</a></li>
                        <li><a href="https://www.youtube.com/channel/UCggQYM093m0wP9D3t23h2PQ">Youtube</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 | Gabriel Adward</p>
        </div>
    </div>
    <!--Footer Slutar-->
</body>
</html>
