<!DOCTYPE html>
<html>
<head>

    @RenderSection("head", required: false)
    <link rel="stylesheet" href="~/css/cssforwebshop.css" />

    <title>startsida - @Page.Title</title>
</head>
<body>
       
    <main>
        @RenderBody()
    </main>

   
</body>
</html>
