<!DOCTYPE html>
<html>
<head>

    @RenderSection("head", required: false)
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/produkter.css" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>startsida - @Page.Title</title>
</head>
<body>
    <!--Header Begins -->
    <!--Navbar Begins-->
    <div class="back">
        <a class="bild"> <img src="~/Images/VL.png" alt="dd" width="150" height="100"></a>
    </div>
    <div class="topnav">

        <a class="active" href="~/hem.cshtml">Hem</a>
        <a href="~/produkt.cshtml">Produkter</a>
        <a href="~/kontakt.cshtml">Kontakta Oss</a>
        <a href="~/Login.cshtml">Logga In</a>
        <a href="~/omoss.cshtml">Om Oss</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <!--Navbar Ends-->
    <!--Video Starts-->
    <video playsinline autoplay muted loop id="myVideo">
        <source src="~/Videos/videoplayback.mp4" type="video/mp4">
    </video>
    <br />
    <!--Video Ends-->
    <!-- Header Ends -->



    <main>
        @RenderBody()
    </main>


</body>
</html>
