* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
   background-color: #263238;
}

#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



    #hero::after {
      
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5)
    }


    #hero video {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: 5;
        object-fit: cover;
        font-family: 'object-fit: cover';
    }

#hero .texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    background: url('../texture.png');
}


#hero .caption {
    position: relative;
    z-index: 20;
    text-align: center;
    color: #ffffff;
}



    #hero .caption h1 {
        text-transform: uppercase;
        font-size: 2em;
        font-family: 'Oswald', sans-serif;
        margin-bottom: 0.5rem;
    }

    #hero .caption h2 {
        font-weight: 400;
        font-size: 1.5rem;
        margin: 0;
        font-family: 'PT Sans', sans-serif;
    }

.sektion1
{
    text-align:center;
}

video {
    }


.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.title
{
    text-align:center;
    margin: 0 auto 80px;
    position:relative;
    line-height:60px;
    color:#555;
}
.col-4
{
    flex-basis:25%;
    padding:10px;
    min-width:200px;
    margin-bottom:50px;
    transition:transform 0.5s;
    background-color:#FFF;
}
.col-4 img
{
    width:100%;
}

.col-4:hover
{
    transform:translateY(-5px);
}

.offer
{
margin-top:80px;
padding:30px 0;
background-color:#FFF;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

    .col-2 img {
        max-width: 100%;
        padding: 50px 0;
    }

    .col-2 h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
    }

    .col-2 .offer-img {
        padding: 50px;
    }

    .small
    {
        color:#555;
    }




/*Kod för mina tre recensioner*/
.testimonial {
    padding-top: 100px;
    background-color:white;
}

    .testimonial .col-3 {
        text-align: center;
        padding: 40px 20px;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0,0.1 );
        cursor: pointer;
        transition: transform 0.5s;
    }

        .testimonial .col-3 img {
            width: 50px;
            margin-top: 20px;
            border-radius: 50%;
        }

        .testimonial .col-3:hover {
            transform: translateY(-10px);
        }
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    background-color:pink;

}

    .col-3 img {
        width: 100%;
    }

.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.ratings .fa {
    color: #ff523f;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
/*Footer CSS*/
.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

    .footer_ul_amrc li {
        padding: 0px 0px 5px 0px;
    }

        .footer_ul_amrc li a {
            color: #CCC;
        }

            .footer_ul_amrc li a:hover {
                color: #fff;
                text-decoration: none;
            }

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

    .footer_ul2_amrc li p {
        display: table;
    }

    .footer_ul2_amrc li a:hover {
        text-decoration: none;
    }

    .footer_ul2_amrc li i {
        margin-top: 5px;
    }

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

    .foote_bottom_ul_amrc li {
        display: inline;
    }

        .foote_bottom_ul_amrc li a {
            color: #999;
            margin: 0 12px;
        }

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

    .social_footer_ul li {
        padding-left: 20px;
        padding-top: 10px;
        float: left;
    }

        .social_footer_ul li a {
            color: #CCC;
            border: 1px solid #CCC;
            padding: 8px;
            border-radius: 50%;
        }

        .social_footer_ul li i {
            width: 20px;
            height: 20px;
            text-align: center;
        }


