* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #263238;
}

.img-wrap{
    width:100%;
}

.img-wrap img {width:100%; padding:10px; border-radius:50%; box-shadow:0 0 10px #999999;}
