* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Fonter*/
h1, h2, h3 {
    font-family: Ravie;
}

p
{
    font-family:Roboto;
}
/*Fonter Slutar*/

/*Navbar CSS*/
.bild {
    display: block;
    margin-left: 43%;
    margin-right: auto;
    width: 50%;
}

.back {
    background-color: #577590;
}


.topnav {
    overflow: hidden;
    background-color: #FDB0B1;
}

    .topnav a {
        float: left;
        display: block;
        color: #333333;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #333333;
            color: #fff;
        }



    .topnav .search-container {
        float: right;
    }

    .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }

    .topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #fff;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

        .topnav .search-container button:hover {
            background: #808080;
        }
/*Navbar slutar*/

/*Om Oss CSS*/
.paddingTB60 {
    padding: 60px 0px 60px 0px;
}

.gray-bg {
    background: #F1F1F1 !important;
}

.about-title {
}

    .about-title h1 {
        color: #535353;
        font-size: 45px;
        font-weight: 600;
    }

    .about-title span {
        color: #AF0808;
        font-size: 45px;
        font-weight: 700;
    }

    .about-title h3 {
        color: #535353;
        font-size: 23px;
        margin-bottom: 24px;
    }

    .about-title p {
        color: #7a7a7a;
        line-height: 1.8;
        margin: 0 0 15px;
    }

.about-paddingB {
    padding-bottom: 12px;
}
/*Om Oss CSS Slutar*/


/*Kod för footer*/
.footer {
    background: #577590;
    color: #fff;
    font-size: 14px;
    padding: 60px 0 20px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.footer p {
    color: #fff;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

    .footer-col-2 img {
        width: 180px;
        text-align: center;
    }

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

    .app-logo img {
        width: 140px;
    }

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.footer a {
    color: #FFF;
}

.copyright {
    text-align: center;
}

.syfte {
    margin-top: 30px;
}
/*footer slutar*/

/*Anpassar navbar till mobil*/
@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

        .topnav a, .topnav input[type=text], .topnav .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

