@using System;
@using System.Collections.Generic;
@using System.Configuration;
@using System.Data.SqlClient;
@using WebMatrix;

@{
    WebSecurity.InitializeDatabaseConnection("Users", "Users", "UserId", "UserName", true);

}


<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

</body>
</html>
